<div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
        <div class="form-group">
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" id = "login">Login</button>
            <button class="btn btn-primary" type="submit" id = "sign-up-button">Sign Up</button>
        </div>
    </form>

    <p>Learning</p>
</div>

<script>


    document.getElementById('sign-up-button').addEventListener('click', function () {
        event.preventDefault();
        document.querySelector('p').style.display = 'none';
        document.location.replace('/signup');

    });
</script>